Repository ojedavidea/eLearning, changes with the labels that .github/labeler.yml gives for each.
All labels: ID, level2, ruche1, roche1

.github/labeler.yml:

ID:
- 0/**/*.id

level2:
- 0/1/*

ruche1:
- 0/**/ruche-*

roche1:
- 0/1/ruche-1.id

Update and rename splitter1.yml to splitter_ruche-1.id.yml
  .github/workflows/splitter_ruche-1.id.yml
Labels: none

Rename 1 to 10
  0/10
Labels: none

Rename 0/10 to 0/1/ruche-1.id
  0/1/ruche-1.id
Labels: ID, level2, ruche1, roche1

Update ruche-1.id
  0/1/ruche-1.id
Labels: ID, level2, ruche1, roche1

Update splitter_ruche-1.id.yml
  .github/workflows/splitter_ruche-1.id.yml
Labels: none

Update ruche-1.id
  0/1/ruche-1.id
Labels: ID, level2, ruche1, roche1

Delete 8cat5
  8cat5
Labels: none

Delete 8cat4
  8cat4
Labels: none

Delete 8cat3
  8cat3
Labels: none

Delete 8cat2
  8cat2
Labels: none

Delete 8cat
  8cat
Labels: none

Delete blank.yml
  .github/workflows/blank.yml
Labels: none

Delete labeler.yml
  .github/workflows/labeler.yml
Labels: none

Delete pattern.yml
  .github/workflows/pattern.yml
Labels: none

Rename ruche-1.id to ruche1-roche1.id
  0/1/ruche1-roche1.id
Labels: ID, level2
